
  /* LeftSidePanel */
  .leftsidepanel {
    flex-basis: 300px;
    display: flex;
    flex-direction: row;
    padding: 8px;

    background-color: var(--light-color);
    border-right: 1px solid var(--secondary-color);
  }
  
  .leftsidepanel h2 {
    margin: 16px;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-color);
  }
  
  

  .leftsidepanel a {

    padding: 8px 16px;
    border-radius: 4px;
    color: var(--dark-color);
    text-decoration: none;
  }




  
  .mytabs {
    display: flex;
    flex-direction: row;
  }

  .tablist {
    flex:0 0 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    overflow: hidden;

  }

  .tablistup {
    display: flex;
    flex-direction: column;

  }


  .tablistdown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  
  .tab {
    list-style: none;
    flex: 0 0 auto;
    margin-right: 10px;
    padding: 8px;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-right: none;
    flex-wrap: wrap;
    overflow: hidden;

    /* 允许断词换行 */

    /* word-wrap: break-word;   */
  }

  .tabpanellist {
    flex: 1 1 auto;
    display: flex;

  }

  .tab:hover {
    border-color: #a97373;
  }
  