.mytabs {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .tablist {
    display: flex;
    flex-direction: row;
    
    /* flex-wrap: nowrap; */

    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;


  }
  
  .tab {
    list-style: none;
    flex: 1 1 0;
    padding: 8px;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 3px;
    border-bottom: none;
    display: flex;
    flex-direction: row;



  }
  
  .active {
    border-color: #ccc !important;
    user-select: none;
  }
  

  .tabpanellist{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  
  .tabpanel {
    flex: 1 1 auto;
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    
  }

  .tabpanelactive {
    display: block;
    border: #a97373;
  }
  
  .tab:hover {
    border-color: #a97373;
  }
  
  
