
  
  /* RightSidePanel */
  .rightsidepanel {
    width: 200px;
    height: 100%;
    background-color: var(--light-color);
    border-left: 1px solid var(--secondary-color);
  }
  
  .rightsidepanel h2 {
    margin: 16px;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-color);
  }
  
  .rightsidepanel ul {
    margin: 0;
    padding: 0;
  }
  
  .rightsidepanel li {
    margin: 8px 0;
  }
  
  .rightsidepanel a {
    display: block;
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--dark-color);
    text-decoration: none;
  }
  


  
  .mytabs {
    display: flex;
    flex-direction: row-reverse;
  }
  


  .tablist {
    width: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .tab {
    list-style: none;
    flex: 0 0 auto;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-left: none;
    
  }

  .tab:hover {
    border-color: #a97373;
  }