
  
  /* RightSidePanel */
  .rightsidepanel {
    flex: 0 0 300px;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: var(--light-color);
    border-left: 1px solid var(--secondary-color);
  }
  






  
  .mytabs {
    flex : 1 1 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  


  .tablist {
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
  }

  .tabpanellist
  {
    flex: 1 1 auto;

  }

.tab {

  list-style: none;
  flex: 0 1 auto;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-right: none;
  /* 允许断词换行 */
  overflow: hidden;
  /* word-wrap: break-word;   */
}

  .tab:hover {
    border-color: #a97373;
  }