
  /* MainPanel */
  .mainpanel {
    padding: 8px;

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    
  }
  
  .mainpanel h1 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-color);
  }
  
  .mainpanel p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-color);
  }
  


  .mainpanel a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .mainpanel a:hover {
    text-decoration: underline;
  }
  .mainpanel ul {
    list-style: none;

  }
  
  .mainpanel li {
    list-style: none;
  }
  




  .tablist {
    flex: 0 1 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
  } 

  .innertablist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tab {
    list-style: none;
    flex: 1 1 0;
    min-width: 0px;
    max-width: 100px;
    padding: 8px;
    cursor: pointer;
    user-select: auto;
    border: 1px solid transparent;
    border-radius: 3px;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;




  }
  .tab:hover {
    border-color: #a97373;
  }
  

  .webview {
    flex-grow: 1;
    height: 95%;


  }

  
  .title {
    flex: 1 1 0;
    max-width: 200px;
    min-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .button {
    flex: 0 0 0;

    overflow: auto;

  }



